# Data Science Tools and Ecosystem
In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. Java
4. NLP

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. Seaborn
4. Scipy 
5. Mathplotlib

In this notebook, Data Science Tools and Ecosystem are summarized.

| Data Science Tools |
| -------------------|
| Jupyter Notebook   |
| Anaconda           |
| Tableau            |
| PowerBI            |
| Microsoft SQL      |

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
# This will convert 200 minutes to hours by diving by 60
200 / 60

3.3333333333333335

**Objectives:**

List popular languages for Data Science :
* Python
* R 
* SQL 
* NLP 
* Java

## Authors :
G.K.Nimalan